<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="ConsoleWcf.AppServer" behaviorConfiguration="metadata">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/AppServer"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="ConsoleWcf.IAppServer"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
 
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <!--<serviceHostEnvironment multipleSiteBindingEnabled="true"/>-->
 
  </system.serviceModel>
</configuration>