<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CsWebRef.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CsWebRef.Properties.Settings>
            <setting name="CsWebRef_WebRef_WebService1" serializeAs="String">
                <value>http://localhost:53640/WebService1.asmx</value>
            </setting>
        </CsWebRef.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53640/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="WebRef.WebService1Soap"
                name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>